body {
    background-color: #0e0e0e;
}

fun {
    font-family: Inter;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    margin-left: 700px;
}

p {
    font-family: Inter;
    font-weight: bold;
    font-size: 30px;
    color: #00ffff;;
    margin-left: 35px;
}

why {
    font-family: Inter;
    font-weight: bold;
    font-size: 60px;
    color: #15ff00;
    margin-left: 40px;
}

titled {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
    margin-left: 550px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }


button {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: cornflowerblue;
  width: 220px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
  border-radius: 10px;
  cursor:pointer;
  box-shadow: 1px 1px rgb(109, 109, 109);
  margin-left: 42%;
}

.con {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(255, 89, 0);
  width: 220px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
  border-radius: 10px;
  cursor:pointer;
  margin-left: 1%;
  transition: background-color 1.3s;
}

.con:hover {
  background-color: rgb(140, 0, 255);
  color : rgb(0, 0, 0)
}

.gt {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  transition: background-color 1s;
  margin-left: 30px;
}

.gt:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
}

.ybf {
  background-color: rgb(255, 133, 133);
  color: rgb(35, 35, 35);
  transition: background-color 1s;
  margin-left: 30px;
}

.ybf:hover {
  background-color: #ff0000;
  color : rgb(255, 255, 255)
}

.fade {
  background-color: rgb(1, 87, 246);
  color: #fff;
  transition: background-color 1s;
}
  
.fade:hover {
  background-color: rgb(62, 255, 81);
  color : rgb(113, 113, 113)
}

sc {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
  margin-left: 100px;
}

.yt {
  color: #ff0000;
}

.dc {
  color: #005eff;
}